/* CONTACTO */

#mainContacto {
    background-color: $color-fondo-2;
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "mapa frente"
        "formulario formulario"
    ;

    h2 {
        height: 100px;
        font-family: 'Whisper', cursive;
        font-size: 2.5rem;
        padding: 30px 0px 0px 50px;
        grid-area: titulo;
    }

    .contacto {
        background-color: $color-fondo-1;
        display: flex;
        justify-content: center;
        grid-area: mapa;
        padding: 30px 0px 40px 40px;
    
        iframe {
            width: 600px;
            height: 450px;
        }
    }

    .frente {
        grid-area: frente;
        background-color: $color-fondo-1;
        padding-left: 50px;
    
        p {
            padding: 50px 30px 20px 0px;
            font-family: 'Roboto', sans-serif;
        }
        
        img {
            width: 550px;
        }
    }

    #formulario {
        background-color: $color-fondo-2;
        font-family: 'Roboto', sans-serif;
        padding: 20px 0px 30px 40px;
        grid-area: formulario;
    
        h3 {
            font-family: 'Whisper', cursive;
            font-size: 2rem;
            padding: 0px 0px 15px 15px;
        }    

        form {
            .botonForm {
                text-transform: initial;
                border: 1px black solid;
                border-radius: 4px;
                padding: 3px;
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
    }
}














