* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    &:hover {
        opacity: 80%;
        color: black;
    }
}

.logo {
    height: 60px;
    order: 1;
    padding: 3px;
}

.botonWhatsApp {
    img {
        width: 60px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        opacity: 80%;

        &:hover {
            opacity: 100%;
        }
    }
}
